<div class="contenedor">
    <main class="contenido">
        <h1>Bienvenido</h1>
        <p>Este sitio esta diseñado para brindar seguridad al momento de tener su bici, por medio de la cual usted podra hacer seguimientoa su bici en casode perdida o robo</p> <br>       
    </main>
    <aside class="asidebar">
        <!-- <h1>Bienvenido</h1> <br> <br>
        <p> Este sitio esta diseñado para la elaboracion de cogidos QR para su restaurante por medio del cual
            podra visualizar el menu.</p> -->
    </aside>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

</div>
