
<div class="contenedor">
    
    <main class="contenido2">
        <h2>Ingresar producto!</h2>
        <br>
         <form>
            <div class="form-group">
              <label for="exampleInputNameNego"></label> <br>
              <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Nombre producto" >                  
            </div>
            
            <div class="form-group">
                <label for="exampleInputNameOur"></label> <br>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="precio" >                  
              </div>
                       
              <a routerLink="menu"><button type="submit" class="btn btn-primary btn-block" >Guardar</button>     </a>           
          </form>            
    </main>            

</div>