<div class="contenedor">

    <main class="contenidomenu">
        <h2>Mapa</h2>
        <hr>


        <iframe [src]="url" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade" *ngIf="cedula=='1053861700'"></iframe>
        <iframe [src]="url2" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade" *ngIf="cedula== '123456789'"></iframe>

            
            <div class="card" *ngIf="cedula != '1053861700' && cedula != '123456789' ">
                <div class="card-header" >
                    <strong>
                        Alerta!
                    </strong>                  
                </div>
                <div class="card-body">
                  <blockquote class="blockquote mb-0">
                    <i class="fa-sharp fa-solid fa-circle-exclamation fa-flip fa-lg" style="color: #f44848;"></i>
                    <p>Este Usuario No cuenta Con el Dispositivo Sincronizado.</p>
                    <!--footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer-->
                  </blockquote>
                </div>
              </div>

    </main>

</div>